<div class="term-view">
	<div class="{{viewmode}}">
		<div class="row-fluid">
			
			<div class="row-fluid">
				<button class="btn btn-danger" style="float: right; margin-right: 29px" ng-click="clearItems()">Clear All Items</button>
			</div>

			<div class="right span4" style="height: 420px; position: relative; width: 100%">
				<div class="filter filter-map">
					<style>
						.context-dropdown {
							position: absolute;
							display: none;
						}
						#map_container {
							position: relative;
						}
						body .term-view .map-view .right .map {
							height: 400px;
						}
					</style>
					<div id="map_container">
						<div ng-repeat="bundle in markerBundles" ui-map-marker="bundle.marker"
						  ui-event="{'map-click': 'closeupItemDialog(bundle.item)', 'map-rightclick': 'showMarkerMenu($event, $params, bundle)'}">
						</div>
						<div id="map_canvas" class="map" ui-map="map" ui-options="mapOptions" ui-event="{'map-idle': 'mapIdle()', 'map-dragend': 'boundsChanged()', 'map-zoom_changed': 'boundsChanged()', 'map-rightclick': 'showMapMenu($event, $params)'}"></div>
						
						
						<div id="map_dropdown" class="dropdown context-dropdown">
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="display:block; position:static; margin-bottom:5px;">
						    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="createBeacon()">Add Beacon</a></li>
						  </ul>
						</div>

						<div id="marker_dropdown" class="dropdown context-dropdown">
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="display:block; position:static; margin-bottom:5px;">
						    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="moveBeacon()">Move Beacon</a></li>
						    <li role="presentation" class="divider"></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteBeacon()">Delete Beacon</a></li>
						  </ul>
						</div>
					</div>
	
					<!-- 'bounds_changed center_changed click dblclick drag dragend dragstart heading_changed idle maptypeid_changed mousemove mouseout mouseover projection_changed resize rightclick tilesloaded tilt_changed zoom_changed' -->	
				</div>
			</div>

			<div class="row-fluid">
				<form novalidate class="simple-form" style="margin-bottom: 0">
					<div class="right" style="padding-top: 0">
						<input style="margin-right: 5px; width: 85%" type="text" class="search-query" name="broadcastCommand" ng-model="broadcast.message" placeholder="Enter command...">
						<button class="btn" ng-click="sendBroadcast()">Send</button>
					</div>
					
				</form>
			</div>
			<div class="grid-view">
				<div class="left span12" style="display: block">
					<div ng-switch on="term.Term">
						<div ng-switch-when="">
							<ul class="item-list">		
								<li ng-class="'blur' | if:isFiltered(item)" ng-repeat="item in finalFilteredItems | filter:{Type: 'streaming-video-v1'}"><a href="" ng-click="closeupItemDialog(item)"><tile-item item="item"></tile-item></a></li>
							</ul>
						</div>

						<div ng-switch-default>
							<ul class="item-list" ui-sortable="{stop: dragCallback, enable: false}" ng-model="rankedItems">		
								<li ng-class="'blur' | if:isFiltered(item)" ng-repeat="item in finalFilteredItems | filter:{Type: 'streaming-video-v1'}"><a href="" ng-click="closeupItemDialog(item)"><tile-item item="item"></tile-item></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>